body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: whitesmoke;
    border-bottom: 2px solid #45a29e;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
   /* display: flex;
    align-items:center ;
    justify-content: space-between;*/
}
nav ul {
    list-style-type: none;
    display:flex;
}

nav ul li {
flex: 0.2;
text align-items: center;
}

.container {
    margin: 50px;
    /*border: 2px solid #45a29e;*/
    display: flex;
}
main{

}
.blog-content{
border: 2px solid #45a29e;
border-radius: 10px;

}

a:any-link {
color: #1f2833;
text-decoration: none;
}

a:hover {
opacity: 90%;
}
.art-head{
    padding-left: 10px;
}

.blog-text{
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 40em;
}
figure{
    display: block;
    width: 70%;
}
.nav-button {
    margin-right: 15px;
    background-color: #378581;
    padding: 8px;
    border-radius: 25px;
    font-weight: bold;
}

footer{
    font-weight: bolder;
    text-align: center;
}
.footer-legal {
    font-weight: 100;
    text-align: right;
}

