body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #19a7ce;
    border-bottom: 2px solid #19a7ce;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
   /* display: flex;
    align-items:center ;
    justify-content: space-between;*/
}
nav ul {
    list-style-type: none;
    display:flex;
}

nav ul li {
flex: 0.2;
 align-items: center;
}

.container {
    margin: 50px;
    /*border: 2px solid #45a29e;*/
    display: flex;
}

.blog-content{
border: 2px solid #19a7ce;
border-radius: 10px;

}

a:any-link {
color: /*#1f2833*/ #19a7ce;
text-decoration: none;
}

a:hover {
opacity: 90%;
}
/*Article heading*/
.art-head{
    padding-left: 10px;
}

.blog-text{
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 40em;
}
figure{
    display: block;
    width: 70%;
}
img {
    object-fit: cover;
    width: 100%;
    height:150;
}
.nav-button {
    margin-right: 15px;
    background-color: white;
    padding: 8px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    border-color:  #19a7ce;
}

footer{
    font-weight: bolder;
    text-align: center;
}
.footer-legal {
    font-weight: 100;
    text-align: right;
}

ul {
    list-style-type: none;
}
#like-button {
    font-weight: bold;
    padding: 3px;
}
#like-count {
    font-weight: bold;
}

.comment-button{
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    border:none;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 576px) {
    
        header{
            background-color: #19a7ce;
            border-bottom: 2px solid #19a7ce;
            border-radius: 20px;
            padding-top: 20px;
            padding-left: 20px;
            display: flex;
            align-items:center ;
            justify-content: space-evenly;
            gap: 8px;
    }
    
}